body{
    background-color: #212529 !important;
}

.navColor{
    background-color: #2272FF !important;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    
}

.text-color-nav{
    color: #fff !important;
}

.bam{
margin: 2% 0 !important;
}

.tarjetas{
    background-color: #212529;
}

/* .card-body{
    background-color: #2272FF !important;
} */

.footer{
    margin: 0;
    background-color: #212529;
}

.text-foot{
    color: aliceblue;
}

.text-list-foot{
    color: gray !important;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}